<template>
  <div class="home">
    <searchInfo></searchInfo>
    <locationsList></locationsList>
    <fullInfo v-if="getRequestCount"></fullInfo>
    <weatherList v-if="getWeatherForFiveDaysIs"></weatherList>
  </div>
</template>

<script>
import locationsList from '@/components/locationsList.vue'
import searchInfo from '@/components/operation.vue'
import weatherList from '@/components/weatherList.vue'
import fullInfo from '@/components/infoFull.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'home',
  computed: mapGetters(['getDataWeather','getRequestCount','getWeatherForFiveDays','getWeatherForFiveDaysIs']),
  methods: mapActions(['setLocation','getLocation']),
  components: {
    fullInfo,
    weatherList,
    searchInfo,
    locationsList
  }
}
</script>

<style>
  .home__input {
    height: 35px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  }
  .home__input:focus {
    outline: none;
  }
  button {
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    height: 35px;
  }
</style>