<template>
  <div class="info">
    <div class="info__current-weather">
      <div class="info__date">
        <p class="info__city-name">{{getCityName}}</p>
        <p class="info__date">{{getDate}}</p>
      </div>
      <div class="info__temp-content">
        <p class="info__temp">Current temp: {{Math.floor(getDataWeather.main.temp)}}</p>
        <p class="info__temp-min">Min temp: {{Math.floor(getDataWeather.main.temp_min)}}</p>
        <p class="info__temp-max">Max temp: {{Math.floor(getDataWeather.main.temp_max)}}</p>
      </div>
      <p class="info__humidity">Humidity: {{getDataWeather.main.humidity}}%</p>
      <p class="info__wind">Wind: {{getDataWeather.wind.speed}} km/h</p>
      <div class="info__sunrise-sunset">
            <p class="block-info__sunset">Sunset: {{getDataWeather.sunset}} PM</p>
            <p class="block-info__sunrise">Sunrise: {{getDataWeather.sunrise}}</p>
      </div>
      <button class="info__more" @click="getDataWeatherFull()">Weather for 5 days</button>
      <button type="button" class="info__add-location" @click="addLocations(getCityName)">Add location</button>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  name: 'info',
  computed: mapGetters(['getDataWeather','getDate','getCityName','getWeatherForFiveDays','getWeatherForFiveDaysIs']),
  components: {
  },
  methods: mapActions(['getDataWeatherFull','addLocations']),
  components: {
    
  }
}
</script>

<style scoped>
  .info__current-weather {
    width: 30%;
    margin: 0 auto;
    padding: 3px;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 16px;
    color: #2C3E50;
  }
  .info__temp-content {
    display: flex;
    justify-content: space-around;
  }
  .info__date {
    display: flex;
    justify-content: space-around;
  }
  .info__sunrise-sunset {
    display: flex;
    justify-content: space-evenly;
  }
</style>
