<template>
    <ul class="location-list">
        <router-link v-for="(city,idx) of getCityList"
                        :key="idx"
                        :to = "{ name: 'location', params: { id:city }}"
                        tag="li"
                        class="location-list__location" 
                        active-class = "active"
        >
            <a @click="setLocation(city)">{{city}}</a>
        </router-link>
    </ul>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    computed: mapGetters(['getCityList']),
    methods: mapActions(['setLocation']),
    
}
</script>

<style scoped>
    .location-list {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .location-list__location {
        padding: 4px 5px;
        margin: 10px 5px;
        background: #5a69e7;;
        color: white;
        border: 0 none;
        border-radius: 3px;
        cursor: pointer;
        -webkit-appearance: listbox;
    }
    a {
        text-decoration: none;
    }
    .active {
        background-color: #fff;
        border: 1px solid #ccc;
    }
    a, a:active{
        color: #000;
    }
</style>