<template>
    <div class="home__content-operations">
      <input type="text" v-model.trim="cityName" class="home__input" placeholder="Enter name city">
      <router-link to="/">
        <button type="button" class="home__button-send" @click="setLocation(cityName)">Send</button>
        <button type="submit" class="home__get-location" @click="getLocation()">Get location</button>
      </router-link>

    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'operations',
  data() {
    return {
      cityName: '',
    }
  },
  methods: mapActions(['setLocation','getLocation']),
}
</script>

<style>
.home__input {
    height: 35px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  }
  .home__input:focus {
    outline: none;
  }
  button {
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    height: 35px;
  }
  .home__list-weather {
    display: flex;
    justify-content: space-evenly;
  }
</style>
