<template>
    <li class="block-info">
        <p class="block-info__date">{{dataDay.dt_txt}}</p>
        <div class="block-info__temp-content">
            <p class="block-info__temp-min">Min temp: {{Math.floor(dataDay.main.temp_min)}}</p>
            <p class="block-info__temp-max">Max temp: {{Math.floor(dataDay.main.temp_max)}}</p>
        </div>
        <p class="block-info__humidity">Humidity: {{dataDay.main.humidity}}%</p>
        <p class="block-info__wind">Wind: {{dataDay.wind.speed}} km/h</p>
        <div class="block-info__sunrise-sunset">
            <p class="block-info__sunset">Sunset: {{dataDay.sunset}} PM</p>
            <p class="block-info__sunrise">Sunrise: {{dataDay.sunrise}}</p>
        </div>
    </li>
</template>

<script>
export default {
    props: {
        dataDay: Object
    },
}
</script>

<style>
    .block-info {
        margin: 0 15px;
        padding: 10px;
        font-weight: 700;
        text-align: start;
        border: 1px solid #ccc;
        border-radius: 16px;
        color: #2C3E50;
        -webkit-appearance: listbox;
    }
    .block-info__date {
        text-align: center;
    }
</style>