<template>
    <ul class="home__list-weather">  
      <weatherDay v-for="(item,indx) of getWeatherForFiveDays"
                  :key="indx"
                  :dataDay="item"
      ></weatherDay>
    </ul>
</template>
<script>
import weatherDay from '@/components/weatherFull.vue'
import { mapGetters } from 'vuex'
export default {
    computed: mapGetters(['getWeatherForFiveDays']),
    components: {
        weatherDay
    }
}
</script>

<style  scoped>
    .home__list-weather {
        display: flex;
        justify-content: center;
    }
</style>