<template>
  <div id="app">
    <home></home>
  </div>
</template>

<script>
import home from '@/components/Home'
export default {
  name: 'app',
  components: {
    home
  }
}
</script>

<style>
  #app {
    text-align: center;
  }
</style>
